<div class="jumbotron text-center clearfix" style="background:transparent !important; margin-bottom:0; padding:10px;">
  <div class="float-left">
    <img src="{{ img_Holcim }}" alt="La Farge Holcim Maroc" height="80">
  </div>
  <div class="float-right">
    <img src="{{ logoVisiteur }}" height="80">
  </div>

  <!-- <span class="siteTitre">Hotel Royal Mansour</span> -->
  <span class="siteTitre">Site Meknès</span>
</div>