<div class="container">
    <h2>Ajouter une règle</h2>
    <form [formGroup]="regleForm" (ngSubmit)="onFormSubmit(regleForm)">
        <div class="d-flex form-row justify-content-center">
            <mat-form-field class="w-75">
                <input type="number" matInput max="98" min="1" placeholder="Veuillez saisir le nombre d'ordre" formControlName="numOrdre"
                    name="numOrdre">
            </mat-form-field>

        </div>

        <div class="d-flex form-row justify-content-center">
            <mat-form-field class="w-75">
                <input type="text" matInput placeholder="Veuillez saisir le nom" formControlName="nom" name="nom">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="w-100">
                <textarea matInput placeholder="Laissez une description" formControlName="description"
                    name="description"></textarea>
            </mat-form-field>
        </div>

        <div>
            <input type="file" id="file" name="file" class="inputfile" #file (change)="upload($event);" />
            <label for="file"> <i class="fas fa-upload"></i> Choose a file</label>
            <span class="ml-2 h6" *ngIf="fileData">{{fileData.name}}</span>
        </div>
        <div class="d-flex form-row justify-content-start">
            <mat-checkbox class="ml-2 mt-2" formControlName="show" name="show">Afficher la règle</mat-checkbox>
        </div>

        <div class="d-flex form-row justify-content-end">
            <button class="mr-2" mat-raised-button (click)="close()">Annuler</button>
            <button mat-raised-button>Ajouter</button>
        </div>
    </form>
</div>