<div class="row justify-content-center" style="margin:0">
    <div class="justify-content-center" class="mt-3">
        <mat-form-field class="example-full-width">
            <input matInput [matDatepicker]="picker1" placeholder="Date" name="dateStats" [formControl]="dateStats"
                (ngModelChange)="onChange(dateStats.value)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1
                startView = "multi-year"
                (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, picker1)"
                panelClass="example-month-picker"
            ></mat-datepicker>
        </mat-form-field>
    </div>
</div>

<div class="container Chart">
    <legend>Statistiques des visiteurs du mois {{dateStats.value | date: 'MM/yyyy'}}</legend>
    <div class="float-center">
        <canvas baseChart *ngIf="barChartData && barChartData.length > 0" [datasets]="barChartData"
            [labels]="barChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType">
        </canvas>
    </div>

    <legend class="mt-5">Statistiques des visiteurs par année</legend>
    <div class="float-center">
        <canvas baseChart *ngIf="lineChartData && lineChartData.length > 0" [datasets]="lineChartData"
            [labels]="lineChartLabels" [options]="lineChartOptions"  [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType">
        </canvas>
        <div *ngIf="messageLineChart">
            {{messageLineChart}}
        </div>
    </div>
</div>