// @import "src/styles.scss";

.myregle {
  color: red;
  font-size: 3vw;
}
.img-carousel {
  width: 75%;
  height: 450px;
}
.Button {
  float: right;
  margin-top: 20%;
  margin-left: 10px;
  width: 25%;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .img-carousel {
    width: 75%;
    height: 250px;
  }
  .btn-success button{
  font-size : 10PX;
  padding: 0;
  }
}


h3,
p {
  color: black;
}

.wideButton {
  padding: 3% 0;
  width: 70%;
  text-align: center;
  font-size: 2.3em;
}

.containerImg {
  position: relative;
}

.containerImg img {
  width: 100%;
  height: auto;
}

.containerImg .btnImg {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.mat-horizontal-stepper-header-container {
  display: none !important;
}

.mat-horizontal-content-container {
   padding: 0 ;
}
.carousel-item.active, .carousel-item-next, .carousel-item-prev {
  display: inline-flex;
}