<div>
    <div class="col-12">
        <h2 class="text-center">Cher visiteur</h2>
        <h5 class="text-center">
            pour le bon déroulement de votre visite , Veuillez respécter nos règles
            <!-- <span class="myregle"> régles</span> -->
        </h5>
    </div>
    <div >
        <!-- <ngb-carousel *ngIf="imageToShow && imageToShow.length > 0; else emptyImage" style=" margin: auto; width: 65%;"
            (slide)="onSlide($event)"> -->
            <!-- <ng-template ngbSlide *ngFor="let image of imageToShow; let i = index" [id]="'slideId_' + i"> -->
                <mat-horizontal-stepper *ngIf="imageToShow && imageToShow.length > 0; else emptyImage" style=" margin: auto; width: 95%;"
                    (slide)="onSlide($event)">
                    <mat-step *ngFor="let image of imageToShow; let i = index" [id]="'slideId_' + i">
                <div class="carousel-item active" *ngIf="image.show === true">
                    <img class="d-block img-carousel" [src]="createImagePath(image.image)"
                        alt="Random first slide" />
                        <div class="Button">
                            <button class="btn btn-primary" style="height: 50px;" *ngIf="i < imageLength - 1" mat-button matStepperNext>Suivant</button>    
                            <!-- <h3>{{ image.nom }}</h3>
                            <p>{{ image.description }}</p> -->
                            <div class="btn btn-success" style="height: auto;"  *ngIf="i === imageLength - 1">
                                <button mat-button [routerLink]="['/poste']">
                                    Je m'engage, Je partage, <br> j'agis
                                </button>
                            </div>  
                        </div>
                    </div>
            </mat-step>
            </mat-horizontal-stepper>
            <!-- </ng-template>
        </ngb-carousel> -->

        <!-- <ng-template #emptyImage>

            <div class="containerImg">
                <img src="../../../../assets/images/Bienvenue.jpg" class="d-block w-100" alt="posteRegle" />

                <button class="btn btn-success btnImg" [routerLink]="['/poste']">
                    Je m'engage, je partage, j'agis
                </button>
            </div>
        </ng-template> -->
    </div>
</div>